body {
    min-height: 100%; 
    height: 100%;
}
.clearfix::after { 
    content: ''; 
    display: block; 
    clear: both;
}
.wrapper {
    width: 400px; 
    margin: 0 auto; 
/* wrapperクラスを中央寄せ */
}

.header { 
    height: 100px; 
    background-color: #141f40;
}
.contents { 
    height: 250px;
}
/* 左側 */
.left { 
    float: left;
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
}
/* 右側 */
.right { 
    float: right; 
    width: 250px; 
    height: 250px;
}
/* 真ん中 ↑*/
.top {
    width: 100%;
    height: 150px;
}
.center {
    float: left;
    width: 150px;
    height: 150px;
}
.center-top {
    width: 100%;
    height: 50px;
    background-color: #dbd400;
}
.center-lower {
    width: 100%;
    height: 100px;
    background-color: #0093b7;
}

.right-right {
    float: right;
    width: 100px;
    height: 150px;
    background-color: #ff9e6d;
}
/* 真ん中↓ */
.right-lower {
    width: 100%;
    height: 100px;
    background-color: #8c2727;
}
/* 右側終了 */
.footer {
    height: 100px;
    background-color: #d98d30;
}
